<div class="mt-10" style="margin-left: 60px;">
    <form>
        <div class="form-group">
            <label for="search-id-input">Từ Khóa</label>
            <input type="text" name="q" class="form-control" id="search-id-input" placeholder="Nhập từ khóa">

            <div>
                <label for="gender-input">Từ khóa</label>
                <select name="gender" class="form-control" id="gender-input">
                    <option value="">chọn giới tính</option>
                    <option value="male">Nam</option>
                    <option value="female">Nữ</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>